body
{
/*    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url('watermark/both.png'); */
    font-family: Arial;
}

a:link, a:visited, a:active {
    color:  #E27400;
    text-decoration: none;
}

a:hover {
    color: #FFA72B;
    text-decoration: none;
}

/* #FFA72B */

#title, #icon {
    position: block;
    font-size: 300%;
    font-weight: bold;
}

#icon img {
    vertical-align: center;
    margin-top: 10px;
    margin-left: 10px;
    width: 32px;

}

#content {
    margin-top: 12vw;
}

/* #00B0FB */

#menu
{
    background: #E3A247;
    width: 100vw;
    top: 0px;
    left:0px;
    position: fixed;
    z-index: 98;
    height: 8vw;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
     
}

#menu img {
    margin-top:   1vw;
    margin-left:  1vw;
    height:       6vw;
}

#quote
{   position: fixed;
    top:2vw;
    right:1vw;
    height:6vw;
    width: 50vw;
    font-size: 1.5vw;
    text-align:center;
    z-index: 99;
    font-family: 'Architects Daughter';
    color: #FFE6D0;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.6), 0px 2px 2px rgba(255, 226, 185, 1);
}
}

.devices
{
    font-family: 'Architects Daughter';
    font-size: 120%;
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
    z-index: 101;
    width: 600px;
}

.devices img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* IE8 */
}


#icon {
    font-family: 'Architects Daughter';
}

#largeicon img {
    margin-top: 1vw;
    margin-left: 1vw;
    height:20vw;
  /*  min-width: 64px; */
    max-width: 256px;
}

#wifi {
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-size: 120%;
    display: table;
    width: 260px;
}

.wirelessSignalCell {
   	display: table-cell;
    padding: 3px 10px;
}

.wirelessTitleCell {
   	display: table-cell;
    font-size: 135%;
    width: 220px;
    text-align: left;
}

.wirelessNameCell {
   	display: table-cell;
    padding: 3px 10px;
    width: 220px;
    text-align: left;
}


/* API TABLE */

.tTable {
    display: table;
    width: 400px;
}

.tRow {
   	display: table-row;
}

.tCell {
   	display: table-cell;
    padding: 3px 10px;
    width: 200px;
    text-align: left;
}
