body
{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url('watermark/both.png');
    font-family:Arial;
}

a:link, a:visited, a:active {
    color:  #FFA72B;
}

a:hover {
    color: #E27400;
}

/* #FFA72B */

#title, #icon {
    font-family: Arial;
    font-size: 300%;
    font-weight: bold;
}

#menu img {
    margin-left: 10px;
    width: 64px;
}


#devices img {
    margin-left: 10px;
    width: 96px;
}

#content {
    margin-left: 100px;
    right:0px;
}

/* #00B0FB */

#menu
{
    background: #FFA72B;
    width: 80px;
    top: 0px;
    left:0px;
    position: fixed;
    z-index: 99;
    height: 9000px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
     
}

#icon img {
    vertical-align: center;
    margin-top: 10px;
    margin-left: 10px;
    width: 32px;
}

#largeicon img {
    vertical-align: center;
    margin-top: 10px;
    margin-left: 10px;
    width: 128px;
}


.tTable {
    display: table;
    width: 400px;
}

.tRow {
   	display: table-row;
}

.tCell {
   	display: table-cell;
    padding: 3px 10px;
    width: 200px;
    text-align: left;
}







