{% set title = "Info" %} {% include ../wrapper/head.html %}

<div id="quote">"The help is drinking a cuppa!"</div>

<br>
<br>

<center>

<div class="TitleInfo">Contact</div>
<div>
    <a href="mailto:tristan@monkeycat.nl"><img class="IconInfo" src="{{ static_url('icons/info/contact.png') }}"></a>
</div>

<br>
<br>
<br>
<br>
<br>
<br>


<div class="TitleInfo">License</div>
<div>
    <a href="info/license"><img class="IconInfo" src="{{ static_url('icons/info/license.png') }}"></a>
</div>



<br>
<br>
<br>
<br>
<br>
<br>

<div class="TitleInfo">Statistics</div>
<div>
    <a href="statistics"><img class="IconInfo" src="{{ static_url('icons/device/statistics.png') }}"></a>
</div>

<br>
<br>
<br>
<br>
<br>
<br>


<div class="TitleInfo">REST API</div>
<div>
    <a href="info/rest"><img class="IconInfo" src="{{ static_url('icons/info/rest.png') }}"></a>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="TitleInfo">Messages</div>
<div>
    <a href="info/messages"><img class="IconInfo" src="{{ static_url('icons/info/messages.png') }}"></a>
</div>

<br>
<br>
<br>
<br>
<br>
<br>


<center>

{% include ../wrapper/foot.html %}