{% set title = "Messages" %} {% include ../wrapper/head.html %}
{% from smarter.SmarterProtocol import * %}
<center>
<div class="Title">Messages</div>

<img class="IconInfo" src="{{ static_url('icons/info/messages.png') }}">

<br>
<div id="command" > </div>
<br>
<br>
<br>

<div class="TitleMessages">Command Messages</div>
<br>
<div class="tTable">
<div class="tRow"><div class="CellMessagesDevice"></div><div class="CellMessagesDevice"></div><div class="CellMessagesID">ID</div><div class="CellMessagesDesc">Description</div></div>
{% for message in sorted(commands) %}
<div class="tRow"><div class="CellMessagesDevice">
{% if Smarter.DeviceCoffee in commands[message]['device'] %}
<a href="/info/message/{{ Smarter.number_to_code(message) }}"><img class="DeviceIconSmall" src="{{ static_url('icons/coffee/coffee.png')}}"></a>
{% end %}
</div><div class="CellMessagesDevice">
{% if Smarter.DeviceKettle in commands[message]['device'] %}
<a href="/info/message/{{ Smarter.number_to_code(message) }}"><img class="DeviceIconSmall" src="{{ static_url('icons/kettle/kettle.png')}}"></a>
{% end %}
</div><div class="CellMessagesID"><a href="/info/message/{{ Smarter.number_to_code(message) }}"><a href="/info/message/{{ Smarter.number_to_code(message) }}">{{ Smarter.number_to_code(message) }}</a></div><div class="CellMessagesDesc"><a href="/info/message/{{ Smarter.number_to_code(message) }}">{{ commands[message]['description'] }}</a></div></div>
{% end %}
</div>

<br>
<div id="response" > </div>
<br>
<br>
<br>

<div class="TitleMessages">Response Messages</div>
<br>
<div class="tTable">
<div class="tRow"><div class="CellMessagesDevice"></div><div class="CellMessagesDevice"></div><div class="CellMessagesID">ID</div><div class="CellMessagesDesc">Description</div></div>
{% for message in sorted(responses) %}
<div class="tRow"><div class="CellMessagesDevice">
{% if Smarter.DeviceCoffee in responses[message]['device'] %}
<a href="/info/message/{{ Smarter.number_to_code(message) }}"><img class="DeviceIconSmall" src="{{ static_url('icons/coffee/coffee.png')}}"></a>
{% end %}
</div><div class="CellMessagesDevice">
{% if Smarter.DeviceKettle in responses[message]['device'] %}
<a href="/info/message/{{ Smarter.number_to_code(message) }}"><img class="DeviceIconSmall" src="{{ static_url('icons/kettle/kettle.png')}}"></a>
{% end %}
</a>
</div><div class="CellMessagesID"><a href="/info/message/{{ Smarter.number_to_code(message) }}">{{ Smarter.number_to_code(message) }}</a></div><div class="CellMessagesDesc"><a href="/info/message/{{ Smarter.number_to_code(message) }}">{{ responses[message]['description'] }}</a></div></div>
{% end %}
</div>

<br>
<br>
<br>
<br>

<div id="status" class="TitleMessages">Status Messages</div>
<br>
<div class="tTable">
<div class="tRow"><div class="CellMessagesDevice"></div><div class="CellMessagesDevice"></div><div class="CellMessagesID">ID</div><div class="CellMessagesDesc">Description</div></div>
{% for message in sorted(status) %}
<div class="tRow"><div class="CellMessagesDevice">
{% if Smarter.DeviceCoffee in status[message]['device'] %}
<a href="/info/message/{{ Smarter.number_to_code(message) }}"><img class="DeviceIconSmall" src="{{ static_url('icons/coffee/coffee.png')}}"></a>
{% end %}
</div><div class="CellMessagesDevice">
{% if Smarter.DeviceKettle in status[message]['device'] %}
<a href="/info/message/{{ Smarter.number_to_code(message) }}"><img class="DeviceIconSmall" src="{{ static_url('icons/kettle/kettle.png')}}"></a>
{% end %}
</div><div class="CellMessagesID"><a href="/info/message/{{ Smarter.number_to_code(message) }}">{{ Smarter.number_to_code(message) }}</a></div><div class="CellMessagesDesc"><a href="/info/message/{{ Smarter.number_to_code(message) }}">{{ status[message]['description'] }}</a></div></div>
{% end %}
</div>

</center>

{% include ../wrapper/foot.html %}
