{% from smarter.SmarterProtocol import * %}

<div class="TitleStatsSub">
{% if client.isCoffee %}
<img class="IconStats" id="coffee" src="{{ static_url('icons/coffee/coffee.png')}}">
{% elif client.isKettle%}
<img class="IconStats" id="kettle" src="{{ static_url('icons/kettle/kettle.png')}}">
{% end %}
{{ client.host }}</div>


<div class="tTable">
   <div class="tRow">
        <div class="CellStatsTitle">Read</div>
        <div class="CellStats">{{ client.totalReadCount }} messages</div>
    </div>
   <div class="tRow">
        <div class="CellStatsTitle"></div>
        <div class="CellStats">{{ Smarter.bytes_to_human(client.totalReadBytesCount) }}</div>
    </div>
    <div class="tRow">
        <div class="CellStatsTitle">Send</div>
        <div class="CellStats">{{ client.totalSendCount }} messages</div>
    </div>

    <div class="tRow">
        <div class="CellStatsTitle"></div>
        <div class="CellStats">{{ Smarter.bytes_to_human(client.totalSendBytesCount) }}</div>
    </div>
</div>

<br>

<div class="TitleStatsSub">Session</div>

<div class="tTable">
    {% if client.isCoffee %}
    <div class="tRow">
        <div class="CellStatsTitle">Carafe Removed</b></div>
        <div class="CellStats"> {{ client.countCarafeRemoved }}x</div>
    </div>
    <div class="tRow">
        <div class="CellStatsTitle">Grinder</b></div>
        <div class="CellStats"> {{ client.countGrinderOn }}x</div>
    </div>
    {% end %}
    
    <div class="tRow">
        <div class="CellStatsTitle">Heater</b></div>
        <div class="CellStats"> {{ client.countHeater }}x</div>
    </div>

    {% if client.isKettle %}
    <div class="tRow">
        <div class="CellStatsTitle">Kept Warm</b></div>
        <div class="CellStats"> {{ client.countKeepWarm }}x</div>
    </div>
    <div class="tRow">
        <div class="CellStatsTitle">Kettle Removed</b></div>
        <div class="CellStats"> {{ client.countKettleRemoved }}x</div>
    </div>
    {% end %}
    
    {% if client.isCoffee %}
    <div class="tRow">
        <div class="CellStatsTitle">Hotplate</b></div>
        <div class="CellStats"> {{ client.countHotPlateOn }}x</div>
    </div>
    {% end %}
    {% if client.sessionCount > 1 %}
    <div class="tRow">
        <div class="CellStatsTitle">Sessions</div>
        <div class="CellStats"> {{ client.sessionCount }}x</div>
    </div>
    {% end %}
</div>
<br>
<div class="tTable">


    <div class="tRow">
        <div class="CellStatsTitle">Read</div>
        <div class="CellStats">{{ client.readCount }} messages</div>
    </div>
    <div class="tRow">
        <div class="CellStatsTitle"></div>
        <div class="CellStats">{{ Smarter.bytes_to_human(client.readBytesCount) }}</div>
    </div>
</div>
<br>
<div class="tTable">

    {% for id in sorted(client.responseCount) %}
    <div class="tRow">
        <div class="CellStatsDesc">
            <div class="tRowMes">
                <div class="CellMessagesDevice">
                {% if Smarter.message_coffee(id) %}
                <a href="/info/message/{{ Smarter.number_to_code(id) }}"><img class="DeviceIconSmall" src="{{ static_url('icons/coffee/coffee.png')}}"></a>
                {% end %}
                </div><div class="CellMessagesDevice">
                {% if Smarter.message_kettle(id) %}
                <a href="/info/message/{{ Smarter.number_to_code(id) }}"><img class="DeviceIconSmall" src="{{ static_url('icons/kettle/kettle.png')}}"></a>
                {% end %}
                </div>
                <div class="CellMessagesID"><a href="/info/message/{{ Smarter.number_to_code(id) }}">{{ Smarter.number_to_code(id) }}</a></div>
                <div class="CellMessagesDesc"><a href="/info/message/{{ Smarter.number_to_code(id) }}">{{ Smarter.message_description(id) }}</a></div>
            </div>
        </div>
        <div class="CellStats">{{ client.responseCount[id] }} messages</div>
    </div>
    {% end %}
</div>
<br>
<div class="tTable">
    <div class="tRow">
        <div class="CellStatsTitle">Send</div>
        <div class="CellStats">{{ client.sendCount }} messages</div>
    </div>
    <div class="tRow">
        <div class="CellStatsTitle"></div>
        <div class="CellStats">{{ Smarter.bytes_to_human(client.sendBytesCount) }}</div>
    </div>
</div>
<br>
<div class="tTable">
    {% for id in sorted(client.commandCount) %}
    <div class="tRow">
        <div class="CellStatsDesc">
            <div class="tRow">
                <div class="CellMessagesDevice">
                {% if Smarter.message_coffee(id) %}
                <a href="/info/message/{{ Smarter.number_to_code(id) }}"><img class="DeviceIconSmall" src="{{ static_url('icons/coffee/coffee.png')}}"></a>
                {% end %}
                </div><div class="CellMessagesDevice">
                {% if Smarter.message_kettle(id) %}
                <a href="/info/message/{{ Smarter.number_to_code(id) }}"><img class="DeviceIconSmall" src="{{ static_url('icons/kettle/kettle.png')}}"></a>
                {% end %}
                </div>
                <div class="CellMessagesID"><a href="/info/message/{{ Smarter.number_to_code(id) }}">{{ Smarter.number_to_code(id) }}</a></div>
                <div class="CellMessagesDesc"><a href="/info/message/{{ Smarter.number_to_code(id) }}">{{ Smarter.message_description(id) }}</a></div>
            </div>
        </div>
        <div class="CellStats">{{ client.commandCount[id] }} messages</div>
    </div>
    {% end %}
</div>
