{% set title = "Wifi " + client.host %} {% include ../wrapper/head.html %}
{% from smarter.SmarterProtocol import * %}

<script type="text/javascript" language="javascript" charset="utf-8">

var wait_update = 30000;

function process_update_scan(wirelessnetworks) {

x = wirelessnetworks.networks

keys = Object.keys(x),
keys.sort();

$('#wifi').html('')
$('#wifi').append('<div class="tRow"><div class="wirelessTitleCell">Wireless Networks</div><div class="wirelessSignalCell"></div></div><br>');

for (i = 0; i < keys.length; i++) {
   key = keys[i];
   item = x[key];
    $('#wifi').append('<div class="tRow">');
    $('#wifi').append('<div class="wirelessNameCell"><a href="javascript:join(\''+key+'\')">' + key + '</a></div>');
    $('#wifi').append('<div class="wirelessSignalCell">');
 
    icon = '{{  static_url('icons/wifi/') }}';
    if ( item.quality >= 0 && item.quality < 10) {
        $('#wifi').append('<img id="signal" src="' + icon + 'signal0.png">')
    }
    if ( item.quality >= 10 && item.quality < 30 ) {
        $('#wifi').append('<img class="signal" src="' + icon + 'signal1.png">')
    }

    if ( item.quality >= 30 && item.quality < 50 ) {
        $('#wifi').append('<img class="signal" src="' + icon + 'signal2.png">')
    }

    if ( item.quality >= 50 && item.quality < 70 ) {
        $('#wifi').append('<img id="signal" src="' + icon + 'signal3.png">')
    }
    
    if ( item.quality >= 70 && item.quality <= 100 ) {
        $('#wifi').append('<img class="signal" src="' + icon + 'signal4.png">')
    }
    
    $('#wifi').append('</div>');
    $('#wifi').append('</div>');
}

if (!wirelessnetworks.directmode) {
$('#wifi').append('<div class="tRow">' );
$('#wifi').append('<div class="wirelessNameCell"><a href="javascript:leave(\'{{ client.host }}\')">{{ Smarter.device_to_string(client.deviceId) }} Direct</a></div>');
$('#wifi').append('<div class="wirelessSignalCell"></div></div>');
}
        
}

function leave(ip)              { $.getJSON( '/api/' + ip + '/leave'); }
function update_scan(ip)        { $.getJSON( '/api/' + ip + '/scan', process_update_scan); }
function auto_update_scan(ip)   { update_scan(ip); setTimeout(auto_update_scan, wait_update, ip); }

$(document).ready(              function() {
                                             auto_update_scan('{{ client.host }}'); }
                 );

</script>

<br>
<center>
<div id="wifi" class="tTable">
Scanning for Wireless Networks...
</div>
</center>


{% include ../wrapper/foot.html %}

