{% set title = "Device" %} {% include wrapper/device.html %}
{% from smarter.SmarterProtocol import * %}

<center>

<br>
<div id="largeicon">
{% if client.isCoffee %}
<img src="{{ static_url('icons/coffee/coffee.png')}}">
{% end %}
{% if client.isKettle %}
{% if client.onBase %}
<img src="{{ static_url('icons/kettle/kettle.png')}}">
{% else %}
<img src="{{ static_url('icons/kettle/offbase.png')}}">
{% end %}
{% end %}
</div>

<div id="quote">
<br>
{% if client.onBase %}
{% if client.temperature < 33 %}
<img height="24px' "src="{{ static_url('icons/kettle/temperature/low.png')}}">
{% elif client.temperature < 66 %}
<img height="24px' "src="{{ static_url('icons/kettle/temperature/middle.png')}}">
{% else %}
<img height="24px' "src="{{ static_url('icons/kettle/temperature/high.png')}}">
{% end %}{{ Smarter.temperature_to_string(client.temperature) }}
<img height="24px' "src="{{ static_url('icons/kettle/water/water.png')}}">
{{ str(client.waterSensor - client.waterSensorBase) }}
{% else %}
{% end %}
</div>
</center>




{% include wrapper/foot.html %}