{% set title = "iBrew" %} {% include wrapper/head.html %}

<center>

<p>

<div id="quote">
     '{{ escape(joke[0]) }}...'<br>
     ...{{ escape(joke[1]) }}
</div>

<p>
<div id="devices">
{% for ip in devices %}
  {% if "iKettle 2.0" == devices[ip]%}
    <a href="/{{ escape(ip) }}/"><img src="{{ static_url('icons/devices/kettle.png')}}"><br><!-- {{ escape(ip) }}--></a>
  {% elif "SmarterCoffee" == devices[ip] %}
    <a href="/{{ escape(ip) }}/"><img src="{{ static_url('icons/devices/coffee.png')}}"><!-- <br>{{ escape(ip) }} --></a>
  {% end %}
{% end %}
</div>

</center>
{% include wrapper/foot.html %}

