{% set title = "About" %} {% include wrapper/head.html %}


<br>
<br>

<center>
"The help is drinking a cuppa!"

<br>
<br>
<br>
<br>
<br>
<br>

<div id="icon">Contact<img src="{{ static_url('icons/contact.png') }}"></div>

<br>

<div id="largeicon">
    <a href="http://www.monkeycat.nl/"><img src="{{ static_url('icons/monkeycat.png') }}"></a>
    <a href="mailto:tristan@monkeycat.nl"><img src="{{ static_url('icons/mail.png') }}"></a>
</div>

<br>
<br>
<br>

<div id="largeicon"><img src="{{ static_url('icons/api.png') }}"></div>

Tbe API is located under /api/

<div>
<pre>
<a href="api/version">/version</a>    version API&nbsp;
<a href="api/devices">/devices</a>    list devices

{% for ip in devices %}
  {% if "iKettle 2.0" == devices[ip]%}
    <img src="{{ static_url('icons/kettle.png')}}"></a>
    <a href="/api/{{ escape(ip) }}/calibrate">/</a>    Status
    <a href="/api/{{ escape(ip) }}/calibrate">/calibrate</a>    Calibrate
    <a href="/api/{{ escape(ip) }}/calibrate/base">/calibrate/base</a>    Calibration base
    <a href="/api/{{ escape(ip) }}/calibrate/base">/calibrate/base/?</a>    Calibration base
    <a href="/api/{{ escape(ip) }}/start">/start</a>    Boil water&nbsp;
    <a href="/api/{{ escape(ip) }}/stop">/stop</a>    Stop boiling

  {% elif "SmarterCoffee" == devices[ip] %}
    <a href="/api/{{ escape(ip) }}/"><img src="{{ static_url('icons/coffee.png')}}"></a>
    <a href="/api/{{ escape(ip) }}/start">/start</a>    Brew coffee&nbsp;
    <a href="/api/{{ escape(ip) }}/stop">/stop</a>    Stop brewing
  {% end %}
    <a href="/api/{{ escape(ip) }}/default">/default</a>
    <a href="/api/{{ escape(ip) }}/settings">/settings</a>
    <a href="/api/{{ escape(ip) }}/scan">/scan</a>
    <a href="/api/{{ escape(ip) }}/leave">/leave</a>
<!-- <a href="/api/{{ escape(ip) }}/settings">/join</a> -->
{% end %}

</pre>
</div>
<br>
<br>
<br>


{% include wrapper/foot.html %}