{% set title = "About" %} {% include wrapper/head.html %}


<br>
<br>

<center>

<div id="largeicon"><a href="/help"><img src="{{ static_url('icons/help.png') }}"></a></div>
"The help is drinking a cuppa!"

<br>
<br>
<br>
<br>
<br>
<br>

<div id="icon">Contact<img src="{{ static_url('icons/contact.png') }}"></div>

<br>

<div id="largeicon">
    <a href="http://www.monkeycat.nl/"><img src="{{ static_url('icons/monkeycat.png') }}"></a>
    <a href="mailto:tristan@monkeycat.nl"><img src="{{ static_url('icons/mail.png') }}"></a>
</div>

<br>
<br>
<br>

<div id="largeicon"><img src="{{ static_url('icons/api.png') }}"></div>

<div class="tTable">
    <div class="tRow">
        <div class="tCell">API version</div>
        <div class="tCell"><a href="api/version">/version</a></div>
    </div>
    <div class="tRow">
        <div class="tCell">list of devices</div>
        <div class="tCell"><a href="api/devices">/devices</a></div>
    </div>
</div>




{% for ip in devices %}
<div class="tTable">

    {% if "SmarterCoffee" == devices[ip] %}
    <div class="tRow">
        <div class="tCell"><img src="{{ static_url('icons/coffee.png')}}"></a></div>
        <div class="tCell"></div>
    </div>
    <div class="tRow">
        <div class="tCell">Start brewing</div>
        <div class="tCell"><a href="/api/{{ escape(ip) }}/start">/start</a></div>
    </div>
    <div class="tRow">
        <div class="tCell">Stop brewing</div>
        <div class="tCell"><a href="/api/{{ escape(ip) }}/start">/start</a></div>
    </div>
    <div class="tRow">
        <div class="tCell">Single cup mode</div>
        <div class="tCell"><a href="/api/{{ escape(ip) }}/stop">/singlecup</a></div>
    </div>
    <div class="tRow">
        <div class="tCell">Carafe required</div>
        <div class="tCell"><a href="/api/{{ escape(ip) }}/stop">/carafe</a></div>
    </div>
    {% end %}
    {% if "iKettle 2.0" == devices[ip] %}
    <div class="tRow">
        <div class="tCell"><img src="{{ static_url('icons/kettle.png')}}"></a></div>
        <div class="tCell"></div>
    </div>
    <div class="tRow">
        <div class="tCell">Start boiling</div>
        <div class="tCell"><a href="/api/{{ escape(ip) }}/start">/start</a></div>
    </div>
    <div class="tRow">
        <div class="tCell">Stop boiling</div>
        <div class="tCell"><a href="/api/{{ escape(ip) }}/stop">/stop</a></div>
    </div>
    <div class="tRow">
        <div class="tCell">Calibrate</div>
        <div class="tCell"><a href="/api/{{ escape(ip) }}/calibrate">/calibrate</a></div>
    </div>
    
    {% end %}
    
    <div class="tRow">
        <div class="tCell">Default user settings</div>
        <div class="tCell"><a href="/api/{{ escape(ip) }}/settings">/default</a></div>
    </div>

    <div class="tRow">
        <div class="tCell">User settings</div>
        <div class="tCell"><a href="/api/{{ escape(ip) }}/settings">/settings</a></div>
    </div>

    <div class="tRow">
        <div class="tCell">Scan for wireless network</div>
        <div class="tCell"><a href="/api/{{ escape(ip) }}/scan">/scan</a></div>
    </div>

    <div class="tRow">
        <div class="tCell">Leave wireless network</div>
        <div class="tCell"><a href="/api/{{ escape(ip) }}/leave">/leave</a></div>
    </div>


 </div>
{% end %}




<br>
<br>
<br>


{% include wrapper/foot.html %}