{% set title = "Devices" %} {% include wrapper/head.html %}
{% from smarter.SmarterProtocol import * %}

<script type="text/javascript" language="javascript" charset="utf-8">

var wait_update = 30000;
var wait_joke   = 60000;

// auto joke timer is not synchronized with the click event (wow that's some sufisasactating... stuff
function process_joke(joke)     { $('#quote').html( joke.question + '<br>' + joke.answer ); }
function joke()                 { $.getJSON( '/api/joke', process_joke); }
function auto_joke()            { joke(); setTimeout(auto_joke, wait_joke); }

function process_update_scan(wirelessnetworks) {

$('#wifi').html( '' );

var arr = [];
$.each(wirelessnetworks, function(key, item)
{   $('#wifi').append(
    
    '<div class="tRow"><div class="tCell"><a href="javascript:join(\''+key+'\')">' + key + '</a></div><div class="tCell"><progress value="'+item.quality+'" max="100"></progress></div></div>' );
});
}


    
function update_scan(ip)        { $.getJSON( '/api/' + ip + '/scan', process_update_scan); }
function auto_update_scan(ip)   { update_scan(ip); setTimeout(auto_update_scan, wait_update, ip); }

$(document).ready(              function() { setTimeout(auto_joke, wait_joke);
                                             auto_update_scan('{{ client.host }}'); }
                 );

</script>




<a href="javascript:joke()">
<div id="quote">
'{{ escape(joke[0]) }}...'<br>...{{ escape(joke[1]) }}
</div>
</a>

<div class="tTable">
<center>
<div class="tCell">Choose Wireless Network</div></div>
<div id="wifi" align="center">
SCANNING...
</div>
</div>
</center>

{% include wrapper/foot.html %}

